.employs {
  width: 100%;
  background-color: $employs-bg-color;
  text-align: center;

  h2 {
    font-family: Recoleta;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    margin: 0 auto;
  }
  p{
    margin: 0 auto;
    margin-top: 27px;
  }
}
