@mixin button($button-bg-color: #198c36, $color: #fbfaf7, $padding: 0) {
  width: 141px;
  height: 52px;
  border-radius: 30px;
  background-color: $button-bg-color;
  color: $color;
  padding: $padding;
  border: none;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: center;

  &:hover {
    background-color: greenyellow;
    color: orange;
  }

  &:active {
    background-color: gold;
    color: white;
  }
}
