* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: lightgray;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.mb-1 {
  margin-right: 10px;
}

.mbt-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mlr-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pl-1 {
  padding-left: 10px;
}

.pr-1 {
  padding-right: 10px;
}

.ptb-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.plr-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.fsize-1 {
  font-size: 16px;
}

.keng-1 {
  width: 100px;
}

.uzun-1 {
  height: 100px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.ml-2 {
  margin-left: 20px;
}

.mb-2 {
  margin-right: 20px;
}

.mbt-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mlr-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pl-2 {
  padding-left: 20px;
}

.pr-2 {
  padding-right: 20px;
}

.ptb-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.plr-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.fsize-2 {
  font-size: 32px;
}

.keng-2 {
  width: 200px;
}

.uzun-2 {
  height: 200px;
}

.mt-3 {
  margin-top: 30px;
}

.mb-3 {
  margin-bottom: 30px;
}

.ml-3 {
  margin-left: 30px;
}

.mb-3 {
  margin-right: 30px;
}

.mbt-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mlr-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pl-3 {
  padding-left: 30px;
}

.pr-3 {
  padding-right: 30px;
}

.ptb-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.plr-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.fsize-3 {
  font-size: 48px;
}

.keng-3 {
  width: 300px;
}

.uzun-3 {
  height: 300px;
}

.mt-4 {
  margin-top: 40px;
}

.mb-4 {
  margin-bottom: 40px;
}

.ml-4 {
  margin-left: 40px;
}

.mb-4 {
  margin-right: 40px;
}

.mbt-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mlr-4 {
  margin-left: 40px;
  margin-right: 40px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pl-4 {
  padding-left: 40px;
}

.pr-4 {
  padding-right: 40px;
}

.ptb-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.plr-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.fsize-4 {
  font-size: 64px;
}

.keng-4 {
  width: 400px;
}

.uzun-4 {
  height: 400px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-5 {
  margin-left: 50px;
}

.mb-5 {
  margin-right: 50px;
}

.mbt-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mlr-5 {
  margin-left: 50px;
  margin-right: 50px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-5 {
  padding-right: 50px;
}

.ptb-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.plr-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.fsize-5 {
  font-size: 80px;
}

.keng-5 {
  width: 500px;
}

.uzun-5 {
  height: 500px;
}

.mt-6 {
  margin-top: 60px;
}

.mb-6 {
  margin-bottom: 60px;
}

.ml-6 {
  margin-left: 60px;
}

.mb-6 {
  margin-right: 60px;
}

.mbt-6 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mlr-6 {
  margin-left: 60px;
  margin-right: 60px;
}

.pt-6 {
  padding-top: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pl-6 {
  padding-left: 60px;
}

.pr-6 {
  padding-right: 60px;
}

.ptb-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.plr-6 {
  padding-left: 60px;
  padding-right: 60px;
}

.fsize-6 {
  font-size: 96px;
}

.keng-6 {
  width: 600px;
}

.uzun-6 {
  height: 600px;
}

.mt-7 {
  margin-top: 70px;
}

.mb-7 {
  margin-bottom: 70px;
}

.ml-7 {
  margin-left: 70px;
}

.mb-7 {
  margin-right: 70px;
}

.mbt-7 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mlr-7 {
  margin-left: 70px;
  margin-right: 70px;
}

.pt-7 {
  padding-top: 70px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pl-7 {
  padding-left: 70px;
}

.pr-7 {
  padding-right: 70px;
}

.ptb-7 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.plr-7 {
  padding-left: 70px;
  padding-right: 70px;
}

.fsize-7 {
  font-size: 112px;
}

.keng-7 {
  width: 700px;
}

.uzun-7 {
  height: 700px;
}

.mt-8 {
  margin-top: 80px;
}

.mb-8 {
  margin-bottom: 80px;
}

.ml-8 {
  margin-left: 80px;
}

.mb-8 {
  margin-right: 80px;
}

.mbt-8 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mlr-8 {
  margin-left: 80px;
  margin-right: 80px;
}

.pt-8 {
  padding-top: 80px;
}

.pb-8 {
  padding-bottom: 80px;
}

.pl-8 {
  padding-left: 80px;
}

.pr-8 {
  padding-right: 80px;
}

.ptb-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.plr-8 {
  padding-left: 80px;
  padding-right: 80px;
}

.fsize-8 {
  font-size: 128px;
}

.keng-8 {
  width: 800px;
}

.uzun-8 {
  height: 800px;
}

.mt-9 {
  margin-top: 90px;
}

.mb-9 {
  margin-bottom: 90px;
}

.ml-9 {
  margin-left: 90px;
}

.mb-9 {
  margin-right: 90px;
}

.mbt-9 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mlr-9 {
  margin-left: 90px;
  margin-right: 90px;
}

.pt-9 {
  padding-top: 90px;
}

.pb-9 {
  padding-bottom: 90px;
}

.pl-9 {
  padding-left: 90px;
}

.pr-9 {
  padding-right: 90px;
}

.ptb-9 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.plr-9 {
  padding-left: 90px;
  padding-right: 90px;
}

.fsize-9 {
  font-size: 144px;
}

.keng-9 {
  width: 900px;
}

.uzun-9 {
  height: 900px;
}

.mt-10 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 100px;
}

.ml-10 {
  margin-left: 100px;
}

.mb-10 {
  margin-right: 100px;
}

.mbt-10 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mlr-10 {
  margin-left: 100px;
  margin-right: 100px;
}

.pt-10 {
  padding-top: 100px;
}

.pb-10 {
  padding-bottom: 100px;
}

.pl-10 {
  padding-left: 100px;
}

.pr-10 {
  padding-right: 100px;
}

.ptb-10 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.plr-10 {
  padding-left: 100px;
  padding-right: 100px;
}

.fsize-10 {
  font-size: 160px;
}

.keng-10 {
  width: 1000px;
}

.uzun-10 {
  height: 1000px;
}

.mt-11 {
  margin-top: 110px;
}

.mb-11 {
  margin-bottom: 110px;
}

.ml-11 {
  margin-left: 110px;
}

.mb-11 {
  margin-right: 110px;
}

.mbt-11 {
  margin-top: 110px;
  margin-bottom: 110px;
}

.mlr-11 {
  margin-left: 110px;
  margin-right: 110px;
}

.pt-11 {
  padding-top: 110px;
}

.pb-11 {
  padding-bottom: 110px;
}

.pl-11 {
  padding-left: 110px;
}

.pr-11 {
  padding-right: 110px;
}

.ptb-11 {
  padding-top: 110px;
  padding-bottom: 110px;
}

.plr-11 {
  padding-left: 110px;
  padding-right: 110px;
}

.fsize-11 {
  font-size: 176px;
}

.keng-11 {
  width: 1100px;
}

.uzun-11 {
  height: 1100px;
}

.mt-12 {
  margin-top: 120px;
}

.mb-12 {
  margin-bottom: 120px;
}

.ml-12 {
  margin-left: 120px;
}

.mb-12 {
  margin-right: 120px;
}

.mbt-12 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mlr-12 {
  margin-left: 120px;
  margin-right: 120px;
}

.pt-12 {
  padding-top: 120px;
}

.pb-12 {
  padding-bottom: 120px;
}

.pl-12 {
  padding-left: 120px;
}

.pr-12 {
  padding-right: 120px;
}

.ptb-12 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.plr-12 {
  padding-left: 120px;
  padding-right: 120px;
}

.fsize-12 {
  font-size: 192px;
}

.keng-12 {
  width: 1200px;
}

.uzun-12 {
  height: 1200px;
}

.mt-13 {
  margin-top: 130px;
}

.mb-13 {
  margin-bottom: 130px;
}

.ml-13 {
  margin-left: 130px;
}

.mb-13 {
  margin-right: 130px;
}

.mbt-13 {
  margin-top: 130px;
  margin-bottom: 130px;
}

.mlr-13 {
  margin-left: 130px;
  margin-right: 130px;
}

.pt-13 {
  padding-top: 130px;
}

.pb-13 {
  padding-bottom: 130px;
}

.pl-13 {
  padding-left: 130px;
}

.pr-13 {
  padding-right: 130px;
}

.ptb-13 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.plr-13 {
  padding-left: 130px;
  padding-right: 130px;
}

.fsize-13 {
  font-size: 208px;
}

.keng-13 {
  width: 1300px;
}

.uzun-13 {
  height: 1300px;
}

.mt-14 {
  margin-top: 140px;
}

.mb-14 {
  margin-bottom: 140px;
}

.ml-14 {
  margin-left: 140px;
}

.mb-14 {
  margin-right: 140px;
}

.mbt-14 {
  margin-top: 140px;
  margin-bottom: 140px;
}

.mlr-14 {
  margin-left: 140px;
  margin-right: 140px;
}

.pt-14 {
  padding-top: 140px;
}

.pb-14 {
  padding-bottom: 140px;
}

.pl-14 {
  padding-left: 140px;
}

.pr-14 {
  padding-right: 140px;
}

.ptb-14 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.plr-14 {
  padding-left: 140px;
  padding-right: 140px;
}

.fsize-14 {
  font-size: 224px;
}

.keng-14 {
  width: 1400px;
}

.uzun-14 {
  height: 1400px;
}

.mt-15 {
  margin-top: 150px;
}

.mb-15 {
  margin-bottom: 150px;
}

.ml-15 {
  margin-left: 150px;
}

.mb-15 {
  margin-right: 150px;
}

.mbt-15 {
  margin-top: 150px;
  margin-bottom: 150px;
}

.mlr-15 {
  margin-left: 150px;
  margin-right: 150px;
}

.pt-15 {
  padding-top: 150px;
}

.pb-15 {
  padding-bottom: 150px;
}

.pl-15 {
  padding-left: 150px;
}

.pr-15 {
  padding-right: 150px;
}

.ptb-15 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.plr-15 {
  padding-left: 150px;
  padding-right: 150px;
}

.fsize-15 {
  font-size: 240px;
}

.keng-15 {
  width: 1500px;
}

.uzun-15 {
  height: 1500px;
}

.mt-16 {
  margin-top: 160px;
}

.mb-16 {
  margin-bottom: 160px;
}

.ml-16 {
  margin-left: 160px;
}

.mb-16 {
  margin-right: 160px;
}

.mbt-16 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.mlr-16 {
  margin-left: 160px;
  margin-right: 160px;
}

.pt-16 {
  padding-top: 160px;
}

.pb-16 {
  padding-bottom: 160px;
}

.pl-16 {
  padding-left: 160px;
}

.pr-16 {
  padding-right: 160px;
}

.ptb-16 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.plr-16 {
  padding-left: 160px;
  padding-right: 160px;
}

.fsize-16 {
  font-size: 256px;
}

.keng-16 {
  width: 1600px;
}

.uzun-16 {
  height: 1600px;
}

.mt-17 {
  margin-top: 170px;
}

.mb-17 {
  margin-bottom: 170px;
}

.ml-17 {
  margin-left: 170px;
}

.mb-17 {
  margin-right: 170px;
}

.mbt-17 {
  margin-top: 170px;
  margin-bottom: 170px;
}

.mlr-17 {
  margin-left: 170px;
  margin-right: 170px;
}

.pt-17 {
  padding-top: 170px;
}

.pb-17 {
  padding-bottom: 170px;
}

.pl-17 {
  padding-left: 170px;
}

.pr-17 {
  padding-right: 170px;
}

.ptb-17 {
  padding-top: 170px;
  padding-bottom: 170px;
}

.plr-17 {
  padding-left: 170px;
  padding-right: 170px;
}

.fsize-17 {
  font-size: 272px;
}

.keng-17 {
  width: 1700px;
}

.uzun-17 {
  height: 1700px;
}

.mt-18 {
  margin-top: 180px;
}

.mb-18 {
  margin-bottom: 180px;
}

.ml-18 {
  margin-left: 180px;
}

.mb-18 {
  margin-right: 180px;
}

.mbt-18 {
  margin-top: 180px;
  margin-bottom: 180px;
}

.mlr-18 {
  margin-left: 180px;
  margin-right: 180px;
}

.pt-18 {
  padding-top: 180px;
}

.pb-18 {
  padding-bottom: 180px;
}

.pl-18 {
  padding-left: 180px;
}

.pr-18 {
  padding-right: 180px;
}

.ptb-18 {
  padding-top: 180px;
  padding-bottom: 180px;
}

.plr-18 {
  padding-left: 180px;
  padding-right: 180px;
}

.fsize-18 {
  font-size: 288px;
}

.keng-18 {
  width: 1800px;
}

.uzun-18 {
  height: 1800px;
}

.mt-19 {
  margin-top: 190px;
}

.mb-19 {
  margin-bottom: 190px;
}

.ml-19 {
  margin-left: 190px;
}

.mb-19 {
  margin-right: 190px;
}

.mbt-19 {
  margin-top: 190px;
  margin-bottom: 190px;
}

.mlr-19 {
  margin-left: 190px;
  margin-right: 190px;
}

.pt-19 {
  padding-top: 190px;
}

.pb-19 {
  padding-bottom: 190px;
}

.pl-19 {
  padding-left: 190px;
}

.pr-19 {
  padding-right: 190px;
}

.ptb-19 {
  padding-top: 190px;
  padding-bottom: 190px;
}

.plr-19 {
  padding-left: 190px;
  padding-right: 190px;
}

.fsize-19 {
  font-size: 304px;
}

.keng-19 {
  width: 1900px;
}

.uzun-19 {
  height: 1900px;
}

.mt-20 {
  margin-top: 200px;
}

.mb-20 {
  margin-bottom: 200px;
}

.ml-20 {
  margin-left: 200px;
}

.mb-20 {
  margin-right: 200px;
}

.mbt-20 {
  margin-top: 200px;
  margin-bottom: 200px;
}

.mlr-20 {
  margin-left: 200px;
  margin-right: 200px;
}

.pt-20 {
  padding-top: 200px;
}

.pb-20 {
  padding-bottom: 200px;
}

.pl-20 {
  padding-left: 200px;
}

.pr-20 {
  padding-right: 200px;
}

.ptb-20 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.plr-20 {
  padding-left: 200px;
  padding-right: 200px;
}

.fsize-20 {
  font-size: 320px;
}

.keng-20 {
  width: 2000px;
}

.uzun-20 {
  height: 2000px;
}

.mt-21 {
  margin-top: 210px;
}

.mb-21 {
  margin-bottom: 210px;
}

.ml-21 {
  margin-left: 210px;
}

.mb-21 {
  margin-right: 210px;
}

.mbt-21 {
  margin-top: 210px;
  margin-bottom: 210px;
}

.mlr-21 {
  margin-left: 210px;
  margin-right: 210px;
}

.pt-21 {
  padding-top: 210px;
}

.pb-21 {
  padding-bottom: 210px;
}

.pl-21 {
  padding-left: 210px;
}

.pr-21 {
  padding-right: 210px;
}

.ptb-21 {
  padding-top: 210px;
  padding-bottom: 210px;
}

.plr-21 {
  padding-left: 210px;
  padding-right: 210px;
}

.fsize-21 {
  font-size: 336px;
}

.keng-21 {
  width: 2100px;
}

.uzun-21 {
  height: 2100px;
}

.mt-22 {
  margin-top: 220px;
}

.mb-22 {
  margin-bottom: 220px;
}

.ml-22 {
  margin-left: 220px;
}

.mb-22 {
  margin-right: 220px;
}

.mbt-22 {
  margin-top: 220px;
  margin-bottom: 220px;
}

.mlr-22 {
  margin-left: 220px;
  margin-right: 220px;
}

.pt-22 {
  padding-top: 220px;
}

.pb-22 {
  padding-bottom: 220px;
}

.pl-22 {
  padding-left: 220px;
}

.pr-22 {
  padding-right: 220px;
}

.ptb-22 {
  padding-top: 220px;
  padding-bottom: 220px;
}

.plr-22 {
  padding-left: 220px;
  padding-right: 220px;
}

.fsize-22 {
  font-size: 352px;
}

.keng-22 {
  width: 2200px;
}

.uzun-22 {
  height: 2200px;
}

.mt-23 {
  margin-top: 230px;
}

.mb-23 {
  margin-bottom: 230px;
}

.ml-23 {
  margin-left: 230px;
}

.mb-23 {
  margin-right: 230px;
}

.mbt-23 {
  margin-top: 230px;
  margin-bottom: 230px;
}

.mlr-23 {
  margin-left: 230px;
  margin-right: 230px;
}

.pt-23 {
  padding-top: 230px;
}

.pb-23 {
  padding-bottom: 230px;
}

.pl-23 {
  padding-left: 230px;
}

.pr-23 {
  padding-right: 230px;
}

.ptb-23 {
  padding-top: 230px;
  padding-bottom: 230px;
}

.plr-23 {
  padding-left: 230px;
  padding-right: 230px;
}

.fsize-23 {
  font-size: 368px;
}

.keng-23 {
  width: 2300px;
}

.uzun-23 {
  height: 2300px;
}

.mt-24 {
  margin-top: 240px;
}

.mb-24 {
  margin-bottom: 240px;
}

.ml-24 {
  margin-left: 240px;
}

.mb-24 {
  margin-right: 240px;
}

.mbt-24 {
  margin-top: 240px;
  margin-bottom: 240px;
}

.mlr-24 {
  margin-left: 240px;
  margin-right: 240px;
}

.pt-24 {
  padding-top: 240px;
}

.pb-24 {
  padding-bottom: 240px;
}

.pl-24 {
  padding-left: 240px;
}

.pr-24 {
  padding-right: 240px;
}

.ptb-24 {
  padding-top: 240px;
  padding-bottom: 240px;
}

.plr-24 {
  padding-left: 240px;
  padding-right: 240px;
}

.fsize-24 {
  font-size: 384px;
}

.keng-24 {
  width: 2400px;
}

.uzun-24 {
  height: 2400px;
}

.mt-25 {
  margin-top: 250px;
}

.mb-25 {
  margin-bottom: 250px;
}

.ml-25 {
  margin-left: 250px;
}

.mb-25 {
  margin-right: 250px;
}

.mbt-25 {
  margin-top: 250px;
  margin-bottom: 250px;
}

.mlr-25 {
  margin-left: 250px;
  margin-right: 250px;
}

.pt-25 {
  padding-top: 250px;
}

.pb-25 {
  padding-bottom: 250px;
}

.pl-25 {
  padding-left: 250px;
}

.pr-25 {
  padding-right: 250px;
}

.ptb-25 {
  padding-top: 250px;
  padding-bottom: 250px;
}

.plr-25 {
  padding-left: 250px;
  padding-right: 250px;
}

.fsize-25 {
  font-size: 400px;
}

.keng-25 {
  width: 2500px;
}

.uzun-25 {
  height: 2500px;
}

.mt-26 {
  margin-top: 260px;
}

.mb-26 {
  margin-bottom: 260px;
}

.ml-26 {
  margin-left: 260px;
}

.mb-26 {
  margin-right: 260px;
}

.mbt-26 {
  margin-top: 260px;
  margin-bottom: 260px;
}

.mlr-26 {
  margin-left: 260px;
  margin-right: 260px;
}

.pt-26 {
  padding-top: 260px;
}

.pb-26 {
  padding-bottom: 260px;
}

.pl-26 {
  padding-left: 260px;
}

.pr-26 {
  padding-right: 260px;
}

.ptb-26 {
  padding-top: 260px;
  padding-bottom: 260px;
}

.plr-26 {
  padding-left: 260px;
  padding-right: 260px;
}

.fsize-26 {
  font-size: 416px;
}

.keng-26 {
  width: 2600px;
}

.uzun-26 {
  height: 2600px;
}

.mt-27 {
  margin-top: 270px;
}

.mb-27 {
  margin-bottom: 270px;
}

.ml-27 {
  margin-left: 270px;
}

.mb-27 {
  margin-right: 270px;
}

.mbt-27 {
  margin-top: 270px;
  margin-bottom: 270px;
}

.mlr-27 {
  margin-left: 270px;
  margin-right: 270px;
}

.pt-27 {
  padding-top: 270px;
}

.pb-27 {
  padding-bottom: 270px;
}

.pl-27 {
  padding-left: 270px;
}

.pr-27 {
  padding-right: 270px;
}

.ptb-27 {
  padding-top: 270px;
  padding-bottom: 270px;
}

.plr-27 {
  padding-left: 270px;
  padding-right: 270px;
}

.fsize-27 {
  font-size: 432px;
}

.keng-27 {
  width: 2700px;
}

.uzun-27 {
  height: 2700px;
}

.mt-28 {
  margin-top: 280px;
}

.mb-28 {
  margin-bottom: 280px;
}

.ml-28 {
  margin-left: 280px;
}

.mb-28 {
  margin-right: 280px;
}

.mbt-28 {
  margin-top: 280px;
  margin-bottom: 280px;
}

.mlr-28 {
  margin-left: 280px;
  margin-right: 280px;
}

.pt-28 {
  padding-top: 280px;
}

.pb-28 {
  padding-bottom: 280px;
}

.pl-28 {
  padding-left: 280px;
}

.pr-28 {
  padding-right: 280px;
}

.ptb-28 {
  padding-top: 280px;
  padding-bottom: 280px;
}

.plr-28 {
  padding-left: 280px;
  padding-right: 280px;
}

.fsize-28 {
  font-size: 448px;
}

.keng-28 {
  width: 2800px;
}

.uzun-28 {
  height: 2800px;
}

.mt-29 {
  margin-top: 290px;
}

.mb-29 {
  margin-bottom: 290px;
}

.ml-29 {
  margin-left: 290px;
}

.mb-29 {
  margin-right: 290px;
}

.mbt-29 {
  margin-top: 290px;
  margin-bottom: 290px;
}

.mlr-29 {
  margin-left: 290px;
  margin-right: 290px;
}

.pt-29 {
  padding-top: 290px;
}

.pb-29 {
  padding-bottom: 290px;
}

.pl-29 {
  padding-left: 290px;
}

.pr-29 {
  padding-right: 290px;
}

.ptb-29 {
  padding-top: 290px;
  padding-bottom: 290px;
}

.plr-29 {
  padding-left: 290px;
  padding-right: 290px;
}

.fsize-29 {
  font-size: 464px;
}

.keng-29 {
  width: 2900px;
}

.uzun-29 {
  height: 2900px;
}

.mt-30 {
  margin-top: 300px;
}

.mb-30 {
  margin-bottom: 300px;
}

.ml-30 {
  margin-left: 300px;
}

.mb-30 {
  margin-right: 300px;
}

.mbt-30 {
  margin-top: 300px;
  margin-bottom: 300px;
}

.mlr-30 {
  margin-left: 300px;
  margin-right: 300px;
}

.pt-30 {
  padding-top: 300px;
}

.pb-30 {
  padding-bottom: 300px;
}

.pl-30 {
  padding-left: 300px;
}

.pr-30 {
  padding-right: 300px;
}

.ptb-30 {
  padding-top: 300px;
  padding-bottom: 300px;
}

.plr-30 {
  padding-left: 300px;
  padding-right: 300px;
}

.fsize-30 {
  font-size: 480px;
}

.keng-30 {
  width: 3000px;
}

.uzun-30 {
  height: 3000px;
}

.mt-31 {
  margin-top: 310px;
}

.mb-31 {
  margin-bottom: 310px;
}

.ml-31 {
  margin-left: 310px;
}

.mb-31 {
  margin-right: 310px;
}

.mbt-31 {
  margin-top: 310px;
  margin-bottom: 310px;
}

.mlr-31 {
  margin-left: 310px;
  margin-right: 310px;
}

.pt-31 {
  padding-top: 310px;
}

.pb-31 {
  padding-bottom: 310px;
}

.pl-31 {
  padding-left: 310px;
}

.pr-31 {
  padding-right: 310px;
}

.ptb-31 {
  padding-top: 310px;
  padding-bottom: 310px;
}

.plr-31 {
  padding-left: 310px;
  padding-right: 310px;
}

.fsize-31 {
  font-size: 496px;
}

.keng-31 {
  width: 3100px;
}

.uzun-31 {
  height: 3100px;
}

.mt-32 {
  margin-top: 320px;
}

.mb-32 {
  margin-bottom: 320px;
}

.ml-32 {
  margin-left: 320px;
}

.mb-32 {
  margin-right: 320px;
}

.mbt-32 {
  margin-top: 320px;
  margin-bottom: 320px;
}

.mlr-32 {
  margin-left: 320px;
  margin-right: 320px;
}

.pt-32 {
  padding-top: 320px;
}

.pb-32 {
  padding-bottom: 320px;
}

.pl-32 {
  padding-left: 320px;
}

.pr-32 {
  padding-right: 320px;
}

.ptb-32 {
  padding-top: 320px;
  padding-bottom: 320px;
}

.plr-32 {
  padding-left: 320px;
  padding-right: 320px;
}

.fsize-32 {
  font-size: 512px;
}

.keng-32 {
  width: 3200px;
}

.uzun-32 {
  height: 3200px;
}

.mt-33 {
  margin-top: 330px;
}

.mb-33 {
  margin-bottom: 330px;
}

.ml-33 {
  margin-left: 330px;
}

.mb-33 {
  margin-right: 330px;
}

.mbt-33 {
  margin-top: 330px;
  margin-bottom: 330px;
}

.mlr-33 {
  margin-left: 330px;
  margin-right: 330px;
}

.pt-33 {
  padding-top: 330px;
}

.pb-33 {
  padding-bottom: 330px;
}

.pl-33 {
  padding-left: 330px;
}

.pr-33 {
  padding-right: 330px;
}

.ptb-33 {
  padding-top: 330px;
  padding-bottom: 330px;
}

.plr-33 {
  padding-left: 330px;
  padding-right: 330px;
}

.fsize-33 {
  font-size: 528px;
}

.keng-33 {
  width: 3300px;
}

.uzun-33 {
  height: 3300px;
}

.mt-34 {
  margin-top: 340px;
}

.mb-34 {
  margin-bottom: 340px;
}

.ml-34 {
  margin-left: 340px;
}

.mb-34 {
  margin-right: 340px;
}

.mbt-34 {
  margin-top: 340px;
  margin-bottom: 340px;
}

.mlr-34 {
  margin-left: 340px;
  margin-right: 340px;
}

.pt-34 {
  padding-top: 340px;
}

.pb-34 {
  padding-bottom: 340px;
}

.pl-34 {
  padding-left: 340px;
}

.pr-34 {
  padding-right: 340px;
}

.ptb-34 {
  padding-top: 340px;
  padding-bottom: 340px;
}

.plr-34 {
  padding-left: 340px;
  padding-right: 340px;
}

.fsize-34 {
  font-size: 544px;
}

.keng-34 {
  width: 3400px;
}

.uzun-34 {
  height: 3400px;
}

.mt-35 {
  margin-top: 350px;
}

.mb-35 {
  margin-bottom: 350px;
}

.ml-35 {
  margin-left: 350px;
}

.mb-35 {
  margin-right: 350px;
}

.mbt-35 {
  margin-top: 350px;
  margin-bottom: 350px;
}

.mlr-35 {
  margin-left: 350px;
  margin-right: 350px;
}

.pt-35 {
  padding-top: 350px;
}

.pb-35 {
  padding-bottom: 350px;
}

.pl-35 {
  padding-left: 350px;
}

.pr-35 {
  padding-right: 350px;
}

.ptb-35 {
  padding-top: 350px;
  padding-bottom: 350px;
}

.plr-35 {
  padding-left: 350px;
  padding-right: 350px;
}

.fsize-35 {
  font-size: 560px;
}

.keng-35 {
  width: 3500px;
}

.uzun-35 {
  height: 3500px;
}

.mt-36 {
  margin-top: 360px;
}

.mb-36 {
  margin-bottom: 360px;
}

.ml-36 {
  margin-left: 360px;
}

.mb-36 {
  margin-right: 360px;
}

.mbt-36 {
  margin-top: 360px;
  margin-bottom: 360px;
}

.mlr-36 {
  margin-left: 360px;
  margin-right: 360px;
}

.pt-36 {
  padding-top: 360px;
}

.pb-36 {
  padding-bottom: 360px;
}

.pl-36 {
  padding-left: 360px;
}

.pr-36 {
  padding-right: 360px;
}

.ptb-36 {
  padding-top: 360px;
  padding-bottom: 360px;
}

.plr-36 {
  padding-left: 360px;
  padding-right: 360px;
}

.fsize-36 {
  font-size: 576px;
}

.keng-36 {
  width: 3600px;
}

.uzun-36 {
  height: 3600px;
}

.mt-37 {
  margin-top: 370px;
}

.mb-37 {
  margin-bottom: 370px;
}

.ml-37 {
  margin-left: 370px;
}

.mb-37 {
  margin-right: 370px;
}

.mbt-37 {
  margin-top: 370px;
  margin-bottom: 370px;
}

.mlr-37 {
  margin-left: 370px;
  margin-right: 370px;
}

.pt-37 {
  padding-top: 370px;
}

.pb-37 {
  padding-bottom: 370px;
}

.pl-37 {
  padding-left: 370px;
}

.pr-37 {
  padding-right: 370px;
}

.ptb-37 {
  padding-top: 370px;
  padding-bottom: 370px;
}

.plr-37 {
  padding-left: 370px;
  padding-right: 370px;
}

.fsize-37 {
  font-size: 592px;
}

.keng-37 {
  width: 3700px;
}

.uzun-37 {
  height: 3700px;
}

.mt-38 {
  margin-top: 380px;
}

.mb-38 {
  margin-bottom: 380px;
}

.ml-38 {
  margin-left: 380px;
}

.mb-38 {
  margin-right: 380px;
}

.mbt-38 {
  margin-top: 380px;
  margin-bottom: 380px;
}

.mlr-38 {
  margin-left: 380px;
  margin-right: 380px;
}

.pt-38 {
  padding-top: 380px;
}

.pb-38 {
  padding-bottom: 380px;
}

.pl-38 {
  padding-left: 380px;
}

.pr-38 {
  padding-right: 380px;
}

.ptb-38 {
  padding-top: 380px;
  padding-bottom: 380px;
}

.plr-38 {
  padding-left: 380px;
  padding-right: 380px;
}

.fsize-38 {
  font-size: 608px;
}

.keng-38 {
  width: 3800px;
}

.uzun-38 {
  height: 3800px;
}

.mt-39 {
  margin-top: 390px;
}

.mb-39 {
  margin-bottom: 390px;
}

.ml-39 {
  margin-left: 390px;
}

.mb-39 {
  margin-right: 390px;
}

.mbt-39 {
  margin-top: 390px;
  margin-bottom: 390px;
}

.mlr-39 {
  margin-left: 390px;
  margin-right: 390px;
}

.pt-39 {
  padding-top: 390px;
}

.pb-39 {
  padding-bottom: 390px;
}

.pl-39 {
  padding-left: 390px;
}

.pr-39 {
  padding-right: 390px;
}

.ptb-39 {
  padding-top: 390px;
  padding-bottom: 390px;
}

.plr-39 {
  padding-left: 390px;
  padding-right: 390px;
}

.fsize-39 {
  font-size: 624px;
}

.keng-39 {
  width: 3900px;
}

.uzun-39 {
  height: 3900px;
}

.mt-40 {
  margin-top: 400px;
}

.mb-40 {
  margin-bottom: 400px;
}

.ml-40 {
  margin-left: 400px;
}

.mb-40 {
  margin-right: 400px;
}

.mbt-40 {
  margin-top: 400px;
  margin-bottom: 400px;
}

.mlr-40 {
  margin-left: 400px;
  margin-right: 400px;
}

.pt-40 {
  padding-top: 400px;
}

.pb-40 {
  padding-bottom: 400px;
}

.pl-40 {
  padding-left: 400px;
}

.pr-40 {
  padding-right: 400px;
}

.ptb-40 {
  padding-top: 400px;
  padding-bottom: 400px;
}

.plr-40 {
  padding-left: 400px;
  padding-right: 400px;
}

.fsize-40 {
  font-size: 640px;
}

.keng-40 {
  width: 4000px;
}

.uzun-40 {
  height: 4000px;
}

.mt-41 {
  margin-top: 410px;
}

.mb-41 {
  margin-bottom: 410px;
}

.ml-41 {
  margin-left: 410px;
}

.mb-41 {
  margin-right: 410px;
}

.mbt-41 {
  margin-top: 410px;
  margin-bottom: 410px;
}

.mlr-41 {
  margin-left: 410px;
  margin-right: 410px;
}

.pt-41 {
  padding-top: 410px;
}

.pb-41 {
  padding-bottom: 410px;
}

.pl-41 {
  padding-left: 410px;
}

.pr-41 {
  padding-right: 410px;
}

.ptb-41 {
  padding-top: 410px;
  padding-bottom: 410px;
}

.plr-41 {
  padding-left: 410px;
  padding-right: 410px;
}

.fsize-41 {
  font-size: 656px;
}

.keng-41 {
  width: 4100px;
}

.uzun-41 {
  height: 4100px;
}

.mt-42 {
  margin-top: 420px;
}

.mb-42 {
  margin-bottom: 420px;
}

.ml-42 {
  margin-left: 420px;
}

.mb-42 {
  margin-right: 420px;
}

.mbt-42 {
  margin-top: 420px;
  margin-bottom: 420px;
}

.mlr-42 {
  margin-left: 420px;
  margin-right: 420px;
}

.pt-42 {
  padding-top: 420px;
}

.pb-42 {
  padding-bottom: 420px;
}

.pl-42 {
  padding-left: 420px;
}

.pr-42 {
  padding-right: 420px;
}

.ptb-42 {
  padding-top: 420px;
  padding-bottom: 420px;
}

.plr-42 {
  padding-left: 420px;
  padding-right: 420px;
}

.fsize-42 {
  font-size: 672px;
}

.keng-42 {
  width: 4200px;
}

.uzun-42 {
  height: 4200px;
}

.mt-43 {
  margin-top: 430px;
}

.mb-43 {
  margin-bottom: 430px;
}

.ml-43 {
  margin-left: 430px;
}

.mb-43 {
  margin-right: 430px;
}

.mbt-43 {
  margin-top: 430px;
  margin-bottom: 430px;
}

.mlr-43 {
  margin-left: 430px;
  margin-right: 430px;
}

.pt-43 {
  padding-top: 430px;
}

.pb-43 {
  padding-bottom: 430px;
}

.pl-43 {
  padding-left: 430px;
}

.pr-43 {
  padding-right: 430px;
}

.ptb-43 {
  padding-top: 430px;
  padding-bottom: 430px;
}

.plr-43 {
  padding-left: 430px;
  padding-right: 430px;
}

.fsize-43 {
  font-size: 688px;
}

.keng-43 {
  width: 4300px;
}

.uzun-43 {
  height: 4300px;
}

.mt-44 {
  margin-top: 440px;
}

.mb-44 {
  margin-bottom: 440px;
}

.ml-44 {
  margin-left: 440px;
}

.mb-44 {
  margin-right: 440px;
}

.mbt-44 {
  margin-top: 440px;
  margin-bottom: 440px;
}

.mlr-44 {
  margin-left: 440px;
  margin-right: 440px;
}

.pt-44 {
  padding-top: 440px;
}

.pb-44 {
  padding-bottom: 440px;
}

.pl-44 {
  padding-left: 440px;
}

.pr-44 {
  padding-right: 440px;
}

.ptb-44 {
  padding-top: 440px;
  padding-bottom: 440px;
}

.plr-44 {
  padding-left: 440px;
  padding-right: 440px;
}

.fsize-44 {
  font-size: 704px;
}

.keng-44 {
  width: 4400px;
}

.uzun-44 {
  height: 4400px;
}

.mt-45 {
  margin-top: 450px;
}

.mb-45 {
  margin-bottom: 450px;
}

.ml-45 {
  margin-left: 450px;
}

.mb-45 {
  margin-right: 450px;
}

.mbt-45 {
  margin-top: 450px;
  margin-bottom: 450px;
}

.mlr-45 {
  margin-left: 450px;
  margin-right: 450px;
}

.pt-45 {
  padding-top: 450px;
}

.pb-45 {
  padding-bottom: 450px;
}

.pl-45 {
  padding-left: 450px;
}

.pr-45 {
  padding-right: 450px;
}

.ptb-45 {
  padding-top: 450px;
  padding-bottom: 450px;
}

.plr-45 {
  padding-left: 450px;
  padding-right: 450px;
}

.fsize-45 {
  font-size: 720px;
}

.keng-45 {
  width: 4500px;
}

.uzun-45 {
  height: 4500px;
}

.mt-46 {
  margin-top: 460px;
}

.mb-46 {
  margin-bottom: 460px;
}

.ml-46 {
  margin-left: 460px;
}

.mb-46 {
  margin-right: 460px;
}

.mbt-46 {
  margin-top: 460px;
  margin-bottom: 460px;
}

.mlr-46 {
  margin-left: 460px;
  margin-right: 460px;
}

.pt-46 {
  padding-top: 460px;
}

.pb-46 {
  padding-bottom: 460px;
}

.pl-46 {
  padding-left: 460px;
}

.pr-46 {
  padding-right: 460px;
}

.ptb-46 {
  padding-top: 460px;
  padding-bottom: 460px;
}

.plr-46 {
  padding-left: 460px;
  padding-right: 460px;
}

.fsize-46 {
  font-size: 736px;
}

.keng-46 {
  width: 4600px;
}

.uzun-46 {
  height: 4600px;
}

.mt-47 {
  margin-top: 470px;
}

.mb-47 {
  margin-bottom: 470px;
}

.ml-47 {
  margin-left: 470px;
}

.mb-47 {
  margin-right: 470px;
}

.mbt-47 {
  margin-top: 470px;
  margin-bottom: 470px;
}

.mlr-47 {
  margin-left: 470px;
  margin-right: 470px;
}

.pt-47 {
  padding-top: 470px;
}

.pb-47 {
  padding-bottom: 470px;
}

.pl-47 {
  padding-left: 470px;
}

.pr-47 {
  padding-right: 470px;
}

.ptb-47 {
  padding-top: 470px;
  padding-bottom: 470px;
}

.plr-47 {
  padding-left: 470px;
  padding-right: 470px;
}

.fsize-47 {
  font-size: 752px;
}

.keng-47 {
  width: 4700px;
}

.uzun-47 {
  height: 4700px;
}

.mt-48 {
  margin-top: 480px;
}

.mb-48 {
  margin-bottom: 480px;
}

.ml-48 {
  margin-left: 480px;
}

.mb-48 {
  margin-right: 480px;
}

.mbt-48 {
  margin-top: 480px;
  margin-bottom: 480px;
}

.mlr-48 {
  margin-left: 480px;
  margin-right: 480px;
}

.pt-48 {
  padding-top: 480px;
}

.pb-48 {
  padding-bottom: 480px;
}

.pl-48 {
  padding-left: 480px;
}

.pr-48 {
  padding-right: 480px;
}

.ptb-48 {
  padding-top: 480px;
  padding-bottom: 480px;
}

.plr-48 {
  padding-left: 480px;
  padding-right: 480px;
}

.fsize-48 {
  font-size: 768px;
}

.keng-48 {
  width: 4800px;
}

.uzun-48 {
  height: 4800px;
}

.mt-49 {
  margin-top: 490px;
}

.mb-49 {
  margin-bottom: 490px;
}

.ml-49 {
  margin-left: 490px;
}

.mb-49 {
  margin-right: 490px;
}

.mbt-49 {
  margin-top: 490px;
  margin-bottom: 490px;
}

.mlr-49 {
  margin-left: 490px;
  margin-right: 490px;
}

.pt-49 {
  padding-top: 490px;
}

.pb-49 {
  padding-bottom: 490px;
}

.pl-49 {
  padding-left: 490px;
}

.pr-49 {
  padding-right: 490px;
}

.ptb-49 {
  padding-top: 490px;
  padding-bottom: 490px;
}

.plr-49 {
  padding-left: 490px;
  padding-right: 490px;
}

.fsize-49 {
  font-size: 784px;
}

.keng-49 {
  width: 4900px;
}

.uzun-49 {
  height: 4900px;
}

.mt-50 {
  margin-top: 500px;
}

.mb-50 {
  margin-bottom: 500px;
}

.ml-50 {
  margin-left: 500px;
}

.mb-50 {
  margin-right: 500px;
}

.mbt-50 {
  margin-top: 500px;
  margin-bottom: 500px;
}

.mlr-50 {
  margin-left: 500px;
  margin-right: 500px;
}

.pt-50 {
  padding-top: 500px;
}

.pb-50 {
  padding-bottom: 500px;
}

.pl-50 {
  padding-left: 500px;
}

.pr-50 {
  padding-right: 500px;
}

.ptb-50 {
  padding-top: 500px;
  padding-bottom: 500px;
}

.plr-50 {
  padding-left: 500px;
  padding-right: 500px;
}

.fsize-50 {
  font-size: 800px;
}

.keng-50 {
  width: 5000px;
}

.uzun-50 {
  height: 5000px;
}

.mt-51 {
  margin-top: 510px;
}

.mb-51 {
  margin-bottom: 510px;
}

.ml-51 {
  margin-left: 510px;
}

.mb-51 {
  margin-right: 510px;
}

.mbt-51 {
  margin-top: 510px;
  margin-bottom: 510px;
}

.mlr-51 {
  margin-left: 510px;
  margin-right: 510px;
}

.pt-51 {
  padding-top: 510px;
}

.pb-51 {
  padding-bottom: 510px;
}

.pl-51 {
  padding-left: 510px;
}

.pr-51 {
  padding-right: 510px;
}

.ptb-51 {
  padding-top: 510px;
  padding-bottom: 510px;
}

.plr-51 {
  padding-left: 510px;
  padding-right: 510px;
}

.fsize-51 {
  font-size: 816px;
}

.keng-51 {
  width: 5100px;
}

.uzun-51 {
  height: 5100px;
}

.mt-52 {
  margin-top: 520px;
}

.mb-52 {
  margin-bottom: 520px;
}

.ml-52 {
  margin-left: 520px;
}

.mb-52 {
  margin-right: 520px;
}

.mbt-52 {
  margin-top: 520px;
  margin-bottom: 520px;
}

.mlr-52 {
  margin-left: 520px;
  margin-right: 520px;
}

.pt-52 {
  padding-top: 520px;
}

.pb-52 {
  padding-bottom: 520px;
}

.pl-52 {
  padding-left: 520px;
}

.pr-52 {
  padding-right: 520px;
}

.ptb-52 {
  padding-top: 520px;
  padding-bottom: 520px;
}

.plr-52 {
  padding-left: 520px;
  padding-right: 520px;
}

.fsize-52 {
  font-size: 832px;
}

.keng-52 {
  width: 5200px;
}

.uzun-52 {
  height: 5200px;
}

.mt-53 {
  margin-top: 530px;
}

.mb-53 {
  margin-bottom: 530px;
}

.ml-53 {
  margin-left: 530px;
}

.mb-53 {
  margin-right: 530px;
}

.mbt-53 {
  margin-top: 530px;
  margin-bottom: 530px;
}

.mlr-53 {
  margin-left: 530px;
  margin-right: 530px;
}

.pt-53 {
  padding-top: 530px;
}

.pb-53 {
  padding-bottom: 530px;
}

.pl-53 {
  padding-left: 530px;
}

.pr-53 {
  padding-right: 530px;
}

.ptb-53 {
  padding-top: 530px;
  padding-bottom: 530px;
}

.plr-53 {
  padding-left: 530px;
  padding-right: 530px;
}

.fsize-53 {
  font-size: 848px;
}

.keng-53 {
  width: 5300px;
}

.uzun-53 {
  height: 5300px;
}

.mt-54 {
  margin-top: 540px;
}

.mb-54 {
  margin-bottom: 540px;
}

.ml-54 {
  margin-left: 540px;
}

.mb-54 {
  margin-right: 540px;
}

.mbt-54 {
  margin-top: 540px;
  margin-bottom: 540px;
}

.mlr-54 {
  margin-left: 540px;
  margin-right: 540px;
}

.pt-54 {
  padding-top: 540px;
}

.pb-54 {
  padding-bottom: 540px;
}

.pl-54 {
  padding-left: 540px;
}

.pr-54 {
  padding-right: 540px;
}

.ptb-54 {
  padding-top: 540px;
  padding-bottom: 540px;
}

.plr-54 {
  padding-left: 540px;
  padding-right: 540px;
}

.fsize-54 {
  font-size: 864px;
}

.keng-54 {
  width: 5400px;
}

.uzun-54 {
  height: 5400px;
}

.button-yashimtil-qora {
  background-color: #163A24;
  padding: 20px 60px;
  border: none;
  color: white;
  border-radius: 10px;
}

.text-yashimtil-qora {
  color: #163A24;
  font-size: 16px;
}

.button-oqish {
  background-color: #FBFAF7;
  padding: 20px 60px;
  border: none;
  color: white;
  border-radius: 10px;
}

.text-oqish {
  color: #FBFAF7;
  font-size: 16px;
}

.headertop {
  width: 100%;
  background-color: #163A24;
  color: #FBFAF7;
}
.headertop nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headertop nav div {
  display: flex;
  gap: 24px;
  align-items: center;
}
.headertop nav div a {
  text-decoration: none;
  color: #FBFAF7;
}
.headertop nav div a:hover {
  color: greenyellow;
}
.headertop nav div a:active {
  color: gold;
}
.headertop nav div .login {
  width: 141px;
  height: 52px;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  padding: 0;
  border: none;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: center;
}
.headertop nav div .login:hover {
  background-color: greenyellow;
  color: orange;
}
.headertop nav div .login:active {
  background-color: gold;
  color: white;
}
.headertop nav div .get-button {
  width: 141px;
  height: 52px;
  border-radius: 30px;
  background-color: #198c36;
  color: #fbfaf7;
  padding: 0;
  border: none;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: center;
  padding: 15px 25px;
}
.headertop nav div .get-button:hover {
  background-color: greenyellow;
  color: orange;
}
.headertop nav div .get-button:active {
  background-color: gold;
  color: white;
}
.headertop .hero {
  display: flex;
  justify-content: center;
  gap: 17px;
  align-items: center;
}

main {
  width: 100%;
}
main .main-img {
  display: flex;
  gap: 98px;
  align-items: center;
  justify-content: center;
}
main .main-img h2 {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  margin-bottom: 27px;
}
main .partner {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
  margin-top: 113px;
}
main .main-icon {
  display: flex;
  justify-content: center;
  gap: 87px;
  align-items: center;
}

section {
  width: 100%;
  padding-bottom: 120px;
  background-color: #163A24;
}
section .section-text {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
}
section .section-img {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 128px;
}

.employs {
  width: 100%;
  background-color: #F2EFE6;
  text-align: center;
}
.employs h2 {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  margin: 0 auto;
}
.employs p {
  margin: 0 auto;
  margin-top: 27px;
}

.together {
  width: 100%;
}
.together .together-img {
  display: flex;
  gap: 98px;
  align-items: center;
  justify-content: center;
}
.together .together-img h2 {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  margin-bottom: 27px;
}
.together .partner {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
  margin-top: 113px;
}

.consider {
  width: 100%;
}
.consider h2 {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
}
.consider p {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.consider .consider-card {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.consider .consider-card .card {
  width: 353px;
  height: 393px;
  border-radius: 15px;
  background-color: #FBFAF7;
  padding: 50px 40px;
}
.consider .consider-card .card:hover {
  background-color: #163A24;
  color: #FBFAF7;
  transition: all 0.5s;
}
.consider .consider-card .card:active {
  background-color: gold;
}
.consider .consider-card .card1 {
  width: 353px;
  height: 413px;
  border-radius: 15px;
  background-color: #FBFAF7;
  padding: 50px 40px;
}
.consider .consider-card .card1:hover {
  background-color: #163A24;
  color: #FBFAF7;
  transition: all 0.5s;
}
.consider .consider-card .card1:active {
  background-color: gold;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
}/*# sourceMappingURL=main.css.map */